.Chromostereopsis {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 80vh;
  margin: auto;
}
.Sketch {
  height: 100%;
}

.header {
  font-size: 2em;
  text-align: center;
}

.sketchContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.sketchHeader {
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.submitButton {
  margin-top: 20px;
}
