.loginpage-background {
  background-image: url('../images/evildesk.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: 'bottom';
  height: 100vh; /* This ensures the div takes up the full viewport height */
  width: 100vw; /* This ensures the div takes up the full viewport width */
}
